
.home {
  padding: 20px;
  text-align: center;
  color: var(--text-color);
}

.search-container {
  margin: 20px 0;
}

.search-container input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  margin-right: 10px;
}

.search-container button {
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: var(--button-bg);
  color: var(--button-text);
  cursor: pointer;
}

.view-buttons button {
  margin: 10px;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: var(--button-bg);
  color: var(--button-text);
  cursor: pointer;
}

.card {
  padding: 20px;
  margin: 20px auto;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  max-width: 500px;
  background-color: var(--card-bg);
  color: var(--text-color);
}

.forecast-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.forecast-container .card {
  width: 200px;
  margin: 10px;
}

.notification {
  background-color: #4caf50; /* Green */
  color: white;
  padding: 1em;
  margin: 1em 0;
  border-radius: 5px;
  transition: opacity 0.5s ease-in-out;
}

.notification.fade-out {
  opacity: 0;
}